/* @tailwind base; */
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lato';
  src:local("Lato"),url("./fonts/Lato-Regular.ttf")
}

@font-face {
  font-family: 'Lato-bold';
  src:local("Lato"),url("./fonts/Lato-BoldItalic.ttf")
}

@font-face {
  font-family: 'Lato-italic';
  src:local("Lato"),url("./fonts//Lato-Italic.ttf")
}
